{
  "rules": {
    "semi": [2, "never"],
    "quotes": [2, "single"],
    "key-spacing": [2, {
      "align": "value"
    }],
    "no-multi-spaces": [1, {
      "exceptions": {
        "VariableDeclarator": true,
        "AssignmentExpression": true
      }
    }],
    "no-use-before-define": [1, "nofunc"],
    "no-underscore-dangle": 0,
    "max-len": [1, 80, 2],
    "indent": [2, 2]
  },
  "globals": {
  },
  "env": {
    "node": true,
    "browser": true
  }
}